.row {
  display: flex;
  .title {
    width: 100px;
    line-height: 32px;
  }
  .content {
    flex: 1;
  }
}
.buttons {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px dashed #ccc;
  text-align: center;
  .reset {
    margin-left: 20px;
  }
}

