.sidebar {
  padding: 10px 0;
  :global(.iconfont) {
    margin-right: 10px;
  }
}

.header {
  padding: 0 20px;
  :global(.iconfont) {
    color: #FFF;
    cursor: pointer;
  }
}

.content {
  margin: 24px 16px;
  padding: 24px;
  min-height: 1000px;
}