.sidebar {
  padding: 10px 0;
  :global(.iconfont) {
    margin-right: 10px;
  }
}

.header {
  padding: 0 20px;
  :global(.iconfont) {
    color: #FFF;
    cursor: pointer;
  }
}

.content {
  padding: 20px;
  min-height: 1000px !important;
}

.buttons {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px dashed #ccc;
  text-align: center;
  .reset {
    margin-left: 20px;
  }
}

