.list {
  margin: 0;
  padding: 0 0 10px 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  .item {
    width: 20%;
    margin-top: 10px;
    .img {
      display: block;
      width: 240px;
      height: 180px;
      margin: 0 auto;
    }
    .title {
      overflow: hidden;
      margin: 0;
      padding: 0 10px;
      line-height: 32px;
      font-size: 16px;
      font-weight: normal;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .desc {
      overflow: hidden;
      margin: 0;
      padding: 0 10px;
      line-height: 24px;
      font-size: 14px;
      font-weight: normal;
      color: #777;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4; 
    }
  }
}