.banner {
  position: relative;
  height: 530px;
  background-image: url('https://serverless-project-static-files.oss-cn-beijing.aliyuncs.com/images/bg.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  .person {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    .avatar {
      position: absolute;
      top: -70px;
      left: 40px;
      width: 200px;
      height: 200px;
      border-radius: 20px;
    }
    .title {
      line-height: 50px;
      margin-top: 10px;
      margin-left: 280px;
      font-size: 28px;
      color: #000;
    }
    .description {
      line-height: 32px;
      margin-right: 30px;
      margin-left: 280px;
      font-size: 18px;
      color: #333;
    }
  }
}